{% apply inline_css(source('@styles/email.css')) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      {% if not remove %}
         {% set message = 'mail.messageToAppOwnersAdding' %}
         {% set disclaimer = 'mail.disclaimerAdding' %}
      {% else %}
         {% set message = 'mail.messageToAppOwnersRemoving' %}
         {% set disclaimer = 'mail.disclaimerRemoving' %}
      {% endif %}
      <b>{{ 'worker.dni' | trans }}:</b> {{ worker.dni }}<br>
      <b>{{ 'worker.name' | trans }}:</b> {{ worker.name }}<br>
      <b>{{ 'worker.surname1' | trans }}:</b> {{ worker.surname1 }}<br>
      <b>{{ 'worker.surname2' | trans }}:</b> {{ worker.surname2 }}<br>
      <b>{{ 'worker.username' | trans }}:</b> {{ worker.username }}<br>
      <b>{{ 'worker.startDate' | trans }}:</b> {{ worker.startDate | date('Y-m-d') }}<br>
      <b>{{ 'worker.endDate' | trans }}:</b> {{ worker.endDate != null ? worker.endDate | date('Y-m-d') : ''}}<br>
      <b>{{ 'worker.department' | trans }}:</b> {{ worker.department }}<br>
      <b>{{ 'worker.job' | trans }}:</b> {{ app.request.locale|split('_')[0] == 'es' ? worker.workerJob.job.titleEs : worker.workerJob.job.titleEu }}<br>
      <b>{{ 'mail.permissionAskedBy' | trans }}:</b> {{ user.username }}<br>

      {{ disclaimer | trans({'{boss}': user.username,}) | raw }}<br>

      <a class="text-green" href="{{ absolute_url(path('worker_approve_all_pending', { worker: worker.id } )) }}">{{ 'btn.approveAllPending' | trans }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="text-red" href="{{ absolute_url(path('worker_deny_all_pending', { worker: worker.id } )) }}">{{ 'btn.denyAllPending' | trans }}</a>
      <br><br>

      {% for permission in permissions %}
         {% if not remove %}
            <table>
               <tr><th colspan="2">{{ 'mail.messageToAppOwnersAdding' | trans({'{permission}': permission}) | raw }}</th></tr>
               <tr>
                  <td><a href="{{ absolute_url(path('permission_approve', { permission: permission.id } )) }}">{{ 'mail.approve' | trans }}</a></td>
                  <td><a href="{{ absolute_url(path('permission_deny', { permission: permission.id } )) }}">{{ 'mail.deny' | trans }}</a></td>
               </tr>
            </table>
            <br>
            {% if userCreatorEmail is defined and userCreatorEmail is null %}
               <br>
               {{ 'mail.noUserCreatorEmailDisclaimer' | trans({
                  '{application}': permission.application
               }) | raw }}
            {% endif %}
            <br>
         {% else %}
            {% set disclaimer = 'mail.disclaimerRemoving' %}
            {{ 'mail.messageToAppOwnersRemoving' | trans({
               '{boss}': user.username,
               '{permission}': permission,
               '{job}': app.request.locale|split('_')[0] == 'es' ? worker.workerJob.job.titleEs : worker.workerJob.job.titleEu,
            }) }}
            <br>
            {{ 'mail.disclaimerRemoving' | trans({
               '{boss}': user.username,
            }) }}
         {% endif %}
      {% endfor %}
   </body>
</html> 
{% endapply %}

