{% apply inline_css(source('@styles/email.css')) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <b>{{ 'worker.dni' | trans }}:</b> {{ worker.dni }}<br>
      <b>{{ 'worker.name' | trans }}:</b> {{ worker.name }}<br>
      <b>{{ 'worker.surname1' | trans }}:</b> {{ worker.surname1 }}<br>
      <b>{{ 'worker.surname2' | trans }}:</b> {{ worker.surname2 }}<br>
      <b>{{ 'worker.username' | trans }}:</b> {{ worker.username }}<br>
      <b>{{ 'worker.startDate' | trans }}:</b> {{ worker.startDate | date('Y-m-d') }}<br>
      <b>{{ 'worker.department' | trans }}:</b> {{ worker.department }}<br>
      <b>{{ 'worker.job' | trans }}:</b> {{ worker.workerJob.job }}<br>
      <a href="{{ absolute_url( path('worker_show', {'worker': worker.id}) ) }}">{{ 'btn.show' | trans }}</a>
      <br>

      {% for permission in permissions %}
         {% if not remove %}
            {% set message = 'mail.messageToUserCreatorBatch' | trans({
               '{permission}': permission
            }) | raw %}
         {% else %}
            {% set message = 'mail.messageToUserCreatorRemoveUserBatch' | trans({}) | raw %}
         {% endif %}
            <table>
               <thead>
                  <tr>
                     <th>{{ permission.application.name }}</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td style="text-align: left">{{ message | raw }}</td>
                  </tr>
               </tbody>
            </table>
            <br>
      {% endfor %}
    </body>
</html> 
{% endapply %}

