{% if departments is defined and departments|length > 0 %}
<table class="table"
   data-toggle="table"
   data-table-target="table"
   data-page-number="{{ page }}" 
   data-page-size="{{ pageSize }}"
   data-page-sortName="{{ sortName }}"
   data-page-sortOrder="{{ sortOrder }}">
   <thead>
      <tr>
            <th data-sortable="true">{{ 'department.id' | trans }}</th>
            {%  if app.request.locale == 'es' %}
               <th data-sortable="true">{{ 'department.nameEs' | trans }}</th>
            {% else %}
               <th data-sortable="true">{{ 'department.nameEu' | trans }}</th>
            {% endif %}
            <th data-sortable="true" data-field="options">{{"table.options" | trans }}</th>
      </tr>
   </thead>
   <tbody>
       {% for department in departments %}
         <tr>
               <td>{{ department.id }}</td>
               {%  if app.request.locale == 'es' %}
                  <td>{{ department.nameEs }}</td>
               {% else %}
                  <td>{{ department.nameEu }}</td>
               {% endif %}
               <td>
                  <a href="{{ path('department_show', {'department': department.id}) }}" data-action="entity#edit"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i></a>&nbsp;
                  <a href="{{ path('department_edit', {'department': department.id}) }}" data-action="entity#edit" data-allowEdit="true"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}'></i></a>&nbsp;
                  <a href="{{ path('department_delete', {'department': department.id, '_token': csrf_token('delete-department' ~ department.id)}) }}">
                     <i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i>
                  </a>&nbsp;
               </td>
         </tr>
      {% endfor %}
   </tbody>
</table>
{% else %}
   <div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
{% endif %}
<span class="pull-right">
   <a class="btn btn-primary rounded-circle fixed-bottom-right z-index-100" href="{{ path('department_new') }}">
      <i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
   </a>
</span>
{{ include('common/_alert.html.twig') }}
