<div class="modal fade" tabindex="-1" data-bs-backdrop="static" data-permission-list-target="modal">
	<div class="modal-dialog {{ scrollable is defined and scrollable ? 'modal-dialog-scrollable': '' }} {{ size is defined and size == 'large' ? 'modal-lg': size is defined and size == 'extra-large' ? 'modal-xl' : '' }}">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-permission-list-target="modalTitle">{{ modalTitle }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" data-permission-list-target="modalBody">
				Loading...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" 
					data-action="permission-list#submitPermissionGrantForm" 
					data-send="true"
					data-permission-list-target="modalSendMessageButton">
					{{ 'btn.sendMessage' | trans }}
				</button>
				<button type="button" class="btn btn-primary" 
					data-action="permission-list#submitPermissionGrantForm" 
					data-send="false"
					data-permission-list-target="modalDontSendMessageButton">
					{{ 'btn.dontSendMessage' | trans }}
				</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">{{ 'btn.cancel' | trans }}</button>
			</div>
		</div>
	</div>
</div>